/* Layout */

// sass-lint:disable no-vendor-prefixes

html {
  height: 100%;
}

// sass-lint:enable no-vendor-prefixes

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  background: $background;
}



/* Phone Layout */

@import '_layout-phone';



/* Print Layout */

@import '_layout-print';
