<div id="ui" class="ui">
  <a href="#" id="buttonSwitch" class="buttonSwitch">
    <svg class="buttonSwitchSVG">
      <use class="buttonSwitchLeft" xlink:href="#spt-switchLeft"/>
      <use class="buttonSwitchRight" xlink:href="#spt-switchRight"/>
      <use xlink:href="#spt-switchCenter"/>
    </svg>
    <span class="buttonTitle">Split / Combine</span>
  </a>
  <a href="#" id="buttonRotateCCW" class="buttonRotateCCW">
    <svg class="buttonSVG"><use xlink:href="#spt-rotateCCW"/></svg>
    <span class="buttonTitle">Rotate 45&deg; Counterclockwise</span>
  </a>
  <a href="#" id="buttonRotateCW" class="buttonRotateCW">
    <svg class="buttonSVG"><use xlink:href="#spt-rotateCW"/></svg>
    <span class="buttonTitle">Rotate 45&deg; Clockwise</span>
  </a>
  <a href="#" id="buttonZoomIn" class="buttonZoomIn">
    <svg class="buttonSVG"><use xlink:href="#spt-zoomIn"/></svg>
    <span class="buttonTitle">Zoom In</span>
  </a>
  <a href="#" id="buttonZoomOut" class="buttonZoomOut">
    <svg class="buttonSVG"><use xlink:href="#spt-zoomOut"/></svg>
    <span class="buttonTitle">Zoom Out</span>
  </a>
  <a href="#" id="buttonTarget" class="buttonTarget">
    <svg class="buttonSVG"><use xlink:href="#spt-target"/></svg>
    <span class="buttonTitle">Return</span>
  </a>
  <a href="#" id="buttonFullScreen" class="buttonFullScreen">
    <svg class="buttonSVG">
      <use class="buttonFullScreenOff" xlink:href="#spt-fullScreen"/>
      <use class="buttonFullScreenOn" xlink:href="#spt-window"/>
    </svg>
    <span class="buttonTitle">Full Screen</span>
  </a>
  <a href="#" id="buttonHelp" class="buttonHelp">
    <svg class="buttonSVG"><use xlink:href="#spt-help"/></svg>
    <span class="buttonTitle">Help</span>
  </a>
</div>
